[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
numpy = "*"
scikit-learn = "*"
qiskit = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
tqdm = "*"
comet-ml = "*"

[dev-packages]

[requires]
python_version = "3.7"
